.super h1
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: normal;
}
.super br{
    margin: 1% 0;
    width: 100%;
    float: left;
}
.super label
{
    font-family: 'Inter';
    font-size: 20px;
    min-width: 100%;
}

.type select{
    padding: 0;
}

.super button
{
    font-family: 'Inter';
}

.super .getImage{
    width: 100%;
}

.super .getImage img{
    width: 50%;
}

.reserve span
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.super #select
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.super #selecttype
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.super input[type="text"]
{ 
    padding: 7px 1px; 
    line-height: 28px;
}

.super input[type="number"]
{ 
    padding: 7px 1px; 
    line-height: 28px;
}

.reserve
{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.reserve h1
{
    text-align: center;
}

.reserve .calendar .calendar-main
{
    height: 300px;
    background-color: rgba(0,0,0,0.2);
}

.reserve .time-reserve span
{
    float: left;
}

.super input::placeholder {
    font-size: calc(6px + 0.5vw);
    line-height: 3;
}

.wrapper{
    text-align: center;
}

.wrapper #wrapper {
    height: 40px;
    width: 200px;
    margin-top: 6%;
    justify-content: center;
    cursor: pointer;
    font-size: calc(7px + 0.6vw);
    border-radius: 8px;
    background-color: #7EB685;
    color: white;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.wrapper #wrapper:hover
{
    background-color: #f1f1f1;
    color: #7EB685;
    border: rgba(1,0,0,0.2) solid 1px;
}

.photo-upload input[type=file]::-webkit-file-upload-button
{
    border: 2px solid #6c5ce7;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #a29bfe;
    transition: 1s;
}

.photo-upload
{
    margin-top: 15px;
}

.photo-upload label
{
    background-color: #7EB685;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
}

.form-fauna-flora
{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.form-fauna-flora .formbox{
    margin: 5% 0 0;
}

.form-fauna-flora .formbox #name
{
    width: 100%;
    line-height: 28px;    
}

.form-fauna-flora .formbox #desc
{
    width: 100%;
    height: 200px;
}

.form-fauna-flora .type
{
    justify-content: center;
    width: 300px;
    margin-top: 3.5%;
    position: relative;
}

.form-fauna-flora .type #select
{
    width: 208px;
    height: 30px;
    border: rgba(1,0,0,1.2) solid 1px;
    border-radius: 8px;
}


.type #selecttype
{
    width: 208px;
    height: 30px;
    border: rgba(1,0,0,1.2) solid 1px;
    border-radius: 8px;
}

.reserve .calendar .calendar-main
{
    margin-top: 3.5%;
}

.reserve .type
{
    margin-top: 3.5%;
    margin-left: 40px;
}

.reserve .type #select
{
    width: 85%;
    height: 30px;
    border: rgba(1,0,0,1.2) solid 1px;
    border-radius: 8px;
}

.reserve .time-reserve .type #select
{
    width: 60px;
    height: auto;
    float: right;
    border: rgba(1,0,0,1.2) solid 1px;
    border-radius: 8px;
}



.uploaded-image{
    width: 50%;
    margin: 30px auto; 
}


.getImagesGrid{
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5%;
    grid-row-gap: 2vw;
    display: grid;
    align-items: center;
}

.getImagesGrid img{
    width: 100%;
}

.clear{
    clear: both;
}


/* ================== */
.super-admin{
    color:rgb(58, 58, 58);
    margin: 2% 0;
}

.super-admin h2{
    text-align: center;
    font-size: calc(0.6em + 1vw);
    line-height: 110%;
}

.super-admin .column{
    margin: 3% 0;
    width: 40%;
    float: left;
}

.super-admin a{
    color: rgb(58, 58, 58);
}

.super-admin .column h2{
    text-align: start;
}

.super-admin .column .item,
.super-admin .back{
    background: #c8e0cb;
    border-radius: 10px;
    width: 60%;
    padding: 0.1% 0;
    margin: 3% 0;
    border: #c8e0cb solid 3px;
    text-align: center;
}

.super-admin .column .item:hover,
.super-admin .back:hover{
    background-color:#f4f9f4;
    color:#75a47b
}

.super-admin .column .item:hover p,
.super-admin .back:hover p{
    cursor: pointer;
}

.super-admin .column .item p,
.super-admin .back p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: calc(0.2em + 1vw);
}

.super-admin table{
    margin: 2% 0 0;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    border: rgb(58, 58, 58) solid 1px;
}

.super-admin td, .super-admin th{
    padding: 0.5%;
    border: rgb(58, 58, 58) solid 1px;
}

.super-admin th.edit,
.super-admin th.delete{
    width: 18%;
}

.super-admin th:nth-child(1){
    width: 5%;
}

.super-admin td.edit{
    background-color: rgb(248, 203, 118);
    font-weight: bolder;
}

.super-admin td.accept{
    background-color: rgb(144, 231, 161);
    font-weight: bolder;
}

.super-admin td.delete,
.super-admin td.deny{
    background-color: rgb(235, 121, 127);
    font-weight: bolder;
}

.super-admin td.edit a:hover,
.super-admin td.delete a:hover,
.super-admin td.accept a:hover,
.super-admin td.deny a:hover{
    text-decoration: underline;
}

.super-admin .back{
    width: 20%;
    padding: 0.001% 0;
    border: #c8e0cb 2.5px solid;
}
.super-admin .back p{
    font-size: calc(0.05em + 1vw);
    line-height: 100%;
}

.super-admin th.accept,
.super-admin th.deny,
.super-admin th.status{
    width: 10%;
}

.super-admin-add-button{
    margin: 0 auto 40px auto;
    display: block;
    background-color: #7EB685;
    border: none;
    padding: 10px 20px;
    font-size: calc(6px + 0.6vw);
    border-radius: 5px;
    color: #000000;
}

.super-admin-add-button:hover{
    background-color: #75a47b;
    color: #ffffff;
}

.check_photo_shadow{
    position: fixed;
    left: 0;
    height: 0;
    width: 100%;
    min-height: 100%;
}

.check_photo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
    max-width: 60%;
    max-height: 60%;
}

.pagination {
    width: 30%;
    display: grid;
    margin: 2vw auto;
    align-items: center;
}


.pagination-2{
    grid-template-columns: repeat(3, 1fr);
}


.pagination-3{
    grid-template-columns: repeat(5, 1fr);
}


.pagination-4{
    grid-template-columns: repeat(6, 1fr);
}


.pagination-5{
    grid-template-columns: repeat(7, 1fr);
}

.pagination-6{
    grid-template-columns: repeat(8, 1fr);
}

.pagination-7{
    grid-template-columns: repeat(9, 1fr);
}

.pagination-8{
    grid-template-columns: repeat(10, 1fr);
}

.pagination-9{
    grid-template-columns: repeat(11, 1fr);
}

.pagination-more{
    grid-template-columns: repeat(10, 1fr);
}